*{margin: 0;padding: 0;box-sizing: border-box;
    --Teal: hsl(179, 62%, 43%);--Green: hsl(71, 73%, 54%);
    --Teal-b: hsl(204, 43%, 93%);--Gray: hsl(218, 22%, 67%);
    font-family: Karla;font-style: italic;}

body{width: 100vw;height: 100dvh;background-color: var(--Teal-b);
    display: flex;justify-content: center;align-items: center;flex-direction: column;}

main{max-width: 38rem;height: auto;display: grid;
grid-template-columns: repeat(2, 1fr);grid-template-rows:40% 60% ;border-radius: 10px;overflow: hidden;}
h1,h2,#h1_sub{font-weight: 600;padding-bottom: 0.8rem;}
div{font-weight: 400;padding:2rem;}

#one{grid-area: 1/1/1/span 2;background-color: rgba(255, 255, 255, 0.957);opacity: 90%;}
h1{color: var(--Teal);}
#h1_sub{color: var(--Green);}
#h1_p{color: var(--Gray);line-height: 1.4rem;}

#two{grid-area: 2/1/2/1;background-color: var(--Teal);opacity: 90%;}
#price{font-size: 2rem;font-weight: 600;}
#duration{font-weight: 100;padding: 1rem 1rem 2rem;}
#h2_p2{margin:1rem 0;}
button{background-color: var(--Green);width:90%;height: 3rem;border-color: var(--Green);border-radius: 10px;font-size: 1rem;
    color: aliceblue;margin: 1rem auto;}

#three{grid-area: 2/2/2/2;background-color:var(--Teal);opacity: 75%;}
#h2_p3{width:18ch}

#two,#three{color: white;font-weight: 100;}

@media (max-width:600px) {
    main{width: 100vw;height:100dvh;grid-template:repeat(3, 40%)/100%;overflow: auto;margin:0 2rem}
    #one{grid-area: span 1;}
    #two{grid-area: span 2;}
    #three{grid-area: span 3;}
    
}